body {
    margin: 0px;
    padding: 0px;
    background-color: #011b60;
}

header {
    width: 100%;
    box-shadow: 0px 2px 15px black;
    background-color: #ffffff;
    color: #011b60;

    display: flex;
    justify-content: center;
    align-items: center;
}

header h3 {
    margin-left: 15px;
}

header form {
    margin-left: auto;
    margin-right: 15px;
}

form #hourly-group .day {
    display: flex;
}

form #day-group div,
form #monthly-group div {
    margin: 20px;
}

form #hourly-group .day div {
    margin: 10px;
    display: block;
}

.shippingType {
    display: flex;
}

form#main {
    color: #011b60;
    width: 50%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #ffffff;
}

form#main h3 {
    text-align: center;
}

form#main .shippingType div {
    margin-left: auto;
    margin-right: auto;
}

form#main #hourly-group {
    display: block;
}

form#main #hourly-group,
#day-group,
#monthly-group {
    display: none;
    margin-left: 90px;
}

.vehicleType {
    margin: 20px;
    display: block;
    padding-left: 70px;
}

.shippingType div {
    margin-right: 20px;
}

#subbtn {
    width: 80px;
    height: 30px;
    background-color: #011b60;
    font-weight: bold;
    color: #ffffff;
    border: 0;
    border-radius: 16px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#motorcycleForm select,
#vehicleForm select {
    width: 200px;
}

#motorcycleForm,
#vehicleForm {
    display: none;
    transition: display 0.5s ease-in-out;
}

table {
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: #ffffff;
}
