body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
h1 {
    text-align: center;
    color: #333;
}
label {
    font-size: 1.2em;
    display: block;
    margin: 10px 0 5px;
}
input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.price {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.original-price {
    text-decoration: line-through;
    color: red;
}
.discounted-price {
    font-weight: bold;
    color: green;
}
.qr-code {
    text-align: center;
    margin: 20px 0;
}
.qr-code img {
    max-width: 300px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
}
.button {
    text-align: center; /* Center the button */
}
.button a {
    background-color: #000048;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.1rem;
}
.button a:hover {
    background-color: #0056b3;
}
