body {
    font-family: "Prompt", sans-serif;
    background-color: #011b60;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    background-color: #ffffff;
    color: #011b60;
    box-shadow: 0px 2px 15px black;
    padding: 15px;
}
header h3 {
    margin-left: 10px;
    width: 50%;
}
header img {
    margin-left: 5%;
    width: 60px;
    height: auto;
}
header form {
    display: flex;
    margin-left: auto;
    margin-right: 15px;
    gap: 15px;
}
a {
    margin-right: 30px;
    color: #011b60;
    text-decoration: none;
    font-weight: bold;
}
.success {
    width: 100vw;
    overflow: hidden;
    background-color: #34a300;
    color: white;
    text-align: center;
}
.error {
    width: 100vw;
    overflow: hidden;
    background-color: #c20000;
    color: white;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #ffffff;
    color: #011b60;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.container > h3 {
    text-align: center;
}
h1 {
    text-align: center;
    color: #2c3e50;
    font-size: 2.5em;
    margin-bottom: 20px;
}
label {
    font-size: 1.1em;
    margin-bottom: 8px;
    display: block;
    color: #34495e;
}
input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
    box-sizing: border-box;
    transition: border-color 0.3s;
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
    border-color: #3498db;
    outline: none;
}
input[type="submit"],
.edit-btn,
.delete-btn {
    width: 100%;
    padding: 12px;
    border: none;
    color: white;
    font-size: 1.1em;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}
input[type="submit"] {
    margin-top: 20px;
    background-color: #0c0c6a;
}
input[type="submit"]:hover {
    background-color: #3434ab;
}

.select-dropdown {
    /* display: flex; */
    margin-top: 10px;
}

.select-dropdown > select {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    outline-color: #959595;
    border: 1px solid #959595;
    font-size: 16px;
}

.locations-list {
    margin-top: 30px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: separate;
}
tr {
    height: 50px;
    background-color: #ffffff;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
thead > tr {
    height: 50px;
    background-color: #bfbfbf;
}

th:last-child {
    width: 20%;
}
td:last-child {
    width: 20%;
}
td:last-child > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.manage-btn {
    width: auto; /* ปรับขนาดให้พอดี */
    padding: 8px 20px; /* เพิ่ม padding สำหรับปุ่ม */
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.edit {
    border: 0;
    color: rgb(0, 0, 0);
    background-color: #fcc304;
}
.edit:hover {
    background-color: #e8ac04;
}
.delete {
    border: 0;
    color: rgb(255, 255, 255);
    background-color: #dc3545;
}
.delete:hover {
    background-color: #c82333;
}

.spot-table {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.spot-item {
    box-sizing: none;
    height: 130px;
    text-align: center;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    outline: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.spot-item > span {
    font-size: 12px;
    overflow: hidden;
}
.spot-item-img {
    margin-top: 5px;
    margin-bottom: auto;
}

.spot-item-cars {
    width: 80px;
}

.spot-item-cars > img {
    width: 60%;
}

.spot-item-motorcycle {
    width: 40px;
    position: relative;
}
.spot-item-motorcycle > span {
    /* border: 1px solid red; */
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -13%);
}

.spot-item-motorcycle > img {
    width: 120%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spot-item-available {
    color: #fff;
    background-color: #5bbb2e;
    cursor: pointer;
}
.spot-item-available:hover {
    background-color: #459f1b;
}

.spot-item-unavailable {
    color: #fff;
    background-color: #4c4c4c;
    cursor: default;
}
.navigation-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
}
.navigation-wrap > a {
    height: 20px;
    font-size: 18px;
}
.sidebar-logout {
    border: 1px solid red;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    color: #011b60;
    font-size: 18px;
    font-weight: bold;
    background-color: #fff;
    cursor: pointer;
}
